database:
  # schema://host:port (schema is optional, defaults to postgresql)
  host:
  db: telemetry
  username: postgres
  password: changeme
  # optional, overrides all database settings
  connection_string: sqlite:///fero.db